.expenceBalanceHole {
  display: flex;
  flex-direction: column;
}
.expenceBalance {
  display: flex;
  font-size: 2rem;
  background-color: #fff;
  height: 10vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.expenceError {
  color: red;
  margin-bottom: 20px;
}
.expenceBalance span {
  color: red;
}
